.App {
  text-align: center;
}
.pokemon-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.pokemon-name::first-letter {
  text-transform: capitalize;
}
.pokemon-card {
  width: 30%;
  margin: 3%;
}
